[2014-03-12 03:55] pgregorynz opened #3 "Missing assembly Microsoft.Threading.Tasks"
Seems that version 1.0.2 is missing the DLL Microsoft.Threading.Tasks which is part of the Google API .net libraries.

[2014-03-16 22:57] BatJan opened #4 "Dynamic handling of languages"
I noticed in the install code that the section is being added in the en.xml. It would be nice if it could be possible to update all translations somehow...not saying you need to know each language but at least just update it so people will see the english terms...it's still better than being faced with [SectionName]...I'll be happy to provide a danish translation btw. :)

[2014-08-17 09:45] Jeffri opened #7 "Binary Error when trying to install package on Umbraco 7.1.4"
Error report
This package could not be verified for compatibility. An error occurred while loading a referenced assembly 'Newtonsoft.Json' see error log for full details.
This package could not be verified for compatibility. An error occurred while loading a referenced assembly 'Newtonsoft.Json' see error log for full details.
This package references the assembly 'System.Threading.Tasks' which was

[2014-10-01 08:40] vnbaaij opened #8 "No charts when debug="false" in web.config/compilation"
Hi,

On our local 7.1.6 dev environment everything works like a charm with the latest Analtics package. On our staging environment we get a javascript error when in web.config in the compilation element the debug attribite is set tot false:

SyntaxError: Unexpected token =
    at Function (native)
    at e (http://stadgenoot-staging.azurewebsites.net/DependencyHandler.axd?s=L3VtYnJ…dlcGlja2VyL2Rhd

[2014-10-01 21:05] bjarnef opened #9 "Change of date range not completely update chart"
When you change the date range, it does update the chart. However with the new interactive features in the new version of Chart.js, it seems to keep the old version of the chart when hovering the chart.

I think we somehow need to update/refresh/redraw the chart after the date range has been changed.

[2014-10-01 21:09] bjarnef opened #10 "Conflict with table sorting"
When there are multiple tables in a view, the table sorting is in conflict with each other and in some cases change sorting in another table. The table sorting needs to be restricted to sort only the table itself.

[2014-10-01 21:25] bjarnef opened #11 "Change hardcoded currency"
Consider how to seet which currency that should be used. In Google Analytics there is a setting "currency shown as", which I think you can get through the API.

![2014-10-01_23-18-31](https://cloud.githubusercontent.com/assets/2919859/4483380/f04b77da-49b0-11e4-9a08-f3114c0efbab.jpg)

Or perhaps a dropdown in the package settings view with a dropdown with the same currencies. I am not sure how the

[2014-10-01 21:45] bjarnef opened #12 ""Last 7 days" dashboard chart only load on page load"
The chart in the dashboard "Last 7 days" only seems to load when the page loads or you e.g. access /umbraco/#/analytics/analyticsTree/view/dashboard

When you choose another tree node and go back to root node (Analytics) it doesn't render the chart.

[2015-01-08 00:42] stephendougherty opened #15 "Google.Apis.Auth.Mvc4.dll causing error for Grid feature in Umbraco 7.2.*"
Hi Guys,

I'll refer to this thread

http://our.umbraco.org/forum/umbraco-7/using-umbraco-7/59567-Umbraco-72-error-at-GetGridHtml?p=0#comment204075

to bring to your attention an issue I noticed when the Google.Apis.Auth.Mvc4.dll is in the bin directory for my site. I read somewhere that you guys are not even using this anymore. Perhaps you have more knowledge on what's going on here.

Anyway I th

[2015-01-08 08:34] abjerner commented on #15
Yes, the Google DLLs are not used, and was removed in this https://github.com/warrenbuckley/Analytics/commit/afbe3ef3cb4b89ad99aaab88fdf0c15e28ca281d about a year ago. If you don't use the DLLs for anything else, you can simply delete them from the bin folder.

@warrenbuckley Can we publish a new package without the Google DLLs?

[2015-02-17 16:08] warrenbuckley commented on #7
Closed due to message in Forum thread above...

[2015-02-17 16:08] #7 closed

[2015-02-17 16:09] warrenbuckley commented on #10
@bjarnef any updates on this or is this no longer a problem?

[2015-02-17 16:10] warrenbuckley commented on #15
@stephendougherty have you tried manually removing the DLL in question for the time being. Did that resolve it or did it blow up the site?

[2015-02-17 16:11] warrenbuckley commented on #11
@bjarnef & @abjerner any news/updates on this guys?

[2015-02-17 16:12] stephendougherty commented on #15
Hi Warren,
Yes removing it fixed this issue thanks.
RegardsStephen

On Tue, Feb 17, 2015 at 8:10 AM -0800, "Warren Buckley" <notifications@github.com> wrote:
@stephendougherty have you tried manually removing the DLL in question for the time being. Did that resolve it or did it blow up the site?

---
Reply to this email directly or view it on GitHub:
https://github.com/warrenbuckley/Analytics/issu

[2015-02-17 16:12] warrenbuckley commented on #9
Is this resolved now @bjarnef due to your commit for this?

[2015-02-17 16:17] bjarnef commented on #10
I think it is still a problem, but only when there are multiple tables on a page. I think the scope should be isolated or something like that.
I haven't seen any examples with multiple tables with sorting on a page as a basis examples. Then it has been a completely Angular table module and I didn't thought that is neccessary to use..

[2015-02-17 16:20] #15 closed

[2015-02-17 16:21] warrenbuckley commented on #10
I thought it was working but maybe I imagined it. As I haven't been using this much & project got bit neglected. Trying to change that. So do most reports have multiple tables so I can look & test this out?

[2015-02-17 16:22] bjarnef commented on #11
@warrenbuckley I had submitted a PR so it just use the currency set as default in your GA profile, but later it maybe should be possible to change it from settings.

[2015-02-17 16:25] bjarnef commented on #9
Yes it should be.. It worked when I tested It at that time :)

[2015-02-17 16:26] warrenbuckley commented on #11
OK looks like I can close this then @bjarnef, as I merged in your PR this morning here
https://github.com/warrenbuckley/Analytics/pull/14

[2015-02-17 16:26] #11 closed

[2015-02-17 16:27] warrenbuckley commented on #9
Will close this then @bjarnef

[2015-02-17 16:27] #9 closed

[2015-02-17 16:31] bjarnef commented on #10
Some views only contains 1 table, but I think half of the views has 2 or 3 tables.
if it isn't easy to find a fix, maybe there is a useful table directive to handle the sorting.. The tablesorter I mentioned seems to work even when there are multiple tables on a page.

[2015-02-17 16:59] abjerner commented on #11
Regarding later being able to change the currency, I don't think that is possible. As far as I know, The API will just return the currency as specified in Google Analytics. But then again, I haven't worked much with currencies in Analytics.

It is of course possible to do some conversion after the data has been fetched from the API, but requires another service for looking up the exchange rates.

[2015-02-17 17:00] warrenbuckley opened #16 "Country Stats - Not working in latest codebase after SkyBrud.Social update"
Need to investigate why the Country Stats are not working, when all other WebAPI calls seem to now work after updating the Angular Controllers to bind against updated JSON object returned

[2015-02-17 17:00] warrenbuckley commented on #3
Closing this @pgregorynz as believe this is a legacy issue, but please re-open if you feel necessary.

[2015-02-17 17:00] #3 closed

[2015-02-17 17:34] bjarnef commented on #11
Yes, for now you can just switch the currency for your Google Analytics profile, but I was also thinking that some editors might use different language and prefer different currencies. I am not sure how Google Analytics handle the conversion e.g. when I have a webshop with prices in DKK and Google Analytics track the orders and I then i Google Analytics can change the currency and e.g. see prices

[2015-02-17 17:36] bjarnef commented on #11
This one seems to be popular https://openexchangerates.org/showcase

But I think some free services / open source code could be used.
https://github.com/petebacondarwin/angular-exchange-rates

[2015-02-23 15:08] warrenbuckley commented on #4
This is progress @BatJan with the help of @bjarnef

[2015-02-23 16:01] warrenbuckley commented on #16
This was fixed with this commit here 0e8524bd4824ff8c622a795fc1607c0caf688388

[2015-02-23 16:01] #16 closed

[2015-02-23 16:02] warrenbuckley commented on #12
@bjarnef I believe this is fixed now if you PULL latest and retest again please. 8e458d5c342b80da8c7b7ff2febe103af3c9c87a

[2015-02-23 17:39] bjarnef commented on #12
@warrenbuckley I don't see the dashboard is added to /Config/Dashboard.config when I add these changes and build the solutions .. I can only access the dashboard via the url.
But when I reported this error, it was by installing the package, where the dashboard only loaded on page refresh.

[2015-02-24 08:19] bjarnef commented on #10
@warrenbuckley maybe this is an option for table sorting? http://zizzamia.com/ng-tasty/directive/table

[2015-02-24 09:23] warrenbuckley commented on #10
Thanks @bjarnef I am going to try and look at sorting today to resolve this. Did you do the original table sorting? As I can't find the JS function sort called from ng-click on the headers?

[2015-02-24 09:33] bjarnef commented on #10
@warrenbuckley , yes the columns that should have sorting trigger the sort function on ng-click. In the view it looks like this https://github.com/warrenbuckley/Analytics/blob/master/Analytics/App_Plugins/Analytics/backOffice/AnalyticsTree/partials/keywords.html#L17 and then the controller have this part https://github.com/warrenbuckley/Analytics/blob/master/Analytics/App_Plugins/Analytics/backOff

[2015-02-24 09:33] warrenbuckley commented on #12
@bjarnef how strange. I would recommend refetching and ensuring the test website respins up (kick web.config or App Pool) as there is install code specific to adding the dashboard to that config file.

This code fires on the Umbraco event - Application Started.

And the dashboard can be accessed when clicking on the root tree item labelled Analytics. Do you mind retesting to see if this works or a

[2015-02-24 09:41] warrenbuckley commented on #10
OK thanks @bjarnef I must have been blind yesterday!
The sort function could probably be tweaked to take in a scope or reference to the table to sort, as this will obviously apply to all tables on the page which is what it is doing.

Or alternatively wrap this up into a directive perhaps. Just concerned we are adding more libraries and potentially more page weight if we don't need all the features

[2015-02-24 10:10] bjarnef commented on #10
yes, I like to keep it simple, but also think the features to sort the column and check with the type .. e.g. so number not is sorted like 1, 10, 2, 23, 2, ... but 1, 2, 10, 23

is think this one is quite small https://github.com/mattiash/angular-tablesort/blob/master/js/angular-tablesort.js (~ 8KB) .. maybe just "borrow" the code and wrap it in our own directive?

[2015-02-24 10:12] warrenbuckley commented on #10
Ah as it's only 8KB then probably easier just to use the library in that case @bjarnef ?

[2015-02-24 10:16] bjarnef commented on #10
yes, if you have time for it, you can maybe do a test and see how it works?

[2015-02-24 10:26] abjerner commented on #10
There is a lot of comments to read through, so I'm not sure whether you have discussed this. Some tables (eg. "Views") will require server side sorting.

An example could be that the page with the most pageviews is not shown in the results since the table is initially sorted by most views.

[2015-02-24 10:29] warrenbuckley commented on #10
@abjerner I have not thought about that problem/issue. So every time we do a sort we will need to do another API call and refetch the data or is it possible to grab the entire dataset in JSON so we can then sort entirely client side then?

[2015-02-24 10:46] abjerner commented on #10
I think it depends from view to view. Eg *Views*, *Language* and *Country* may require server side sorting, while others like *Social Network* and *Devices* can be sorted via JS.

As far as I remember, the Analytics Data API has a limit of 1000 items per page, so it could be sufficient to just pull the first 1000 results. Theoretically it may still be an issue, but the risk of encountering the iss

[2015-02-24 10:50] abjerner commented on #10
And by server side sorting I mean letting the Analytics API sort the results for us.

[2015-02-24 10:52] warrenbuckley commented on #10
@abjerner I would say lets just fetch a 1000 results for now and implement paginated/sorted tables.
The initial request for the data the API can sort for us but once we have the JSON payload in the browser/client then let JS do it's job and sort clientside IMO

[2015-02-24 10:57] bjarnef commented on #10
I don't understand why you need server side sorting, when the data is fetched from Analytics via the API, you can just use Angular to sort the result set. Unless you need more data (like when you change the date range), I don't see a need to make a new call to the server - but you can of course always return the data from the API in a default sort order.

[2015-02-24 10:58] warrenbuckley commented on #10
@bjarnef the results from the API comes back as a max of 1000 items so if you have a massive site and need more data than the first 1000 items about pages & their page views then it would need to be paginated and another request sent back to the API

[2015-02-24 11:00] bjarnef commented on #10
anyway the ng-repeat will be slow if you have 10K rows, where something like infinite scroll or paging is a way to solve it. Is there set a limit in the API how many results to return?

[2015-02-24 11:06] warrenbuckley commented on #10
@bjarnef agreed but it's not 10k but 1K but will still make client side slow & unresponsive. @abjerner whats the default page size from Google's Analytics API?

My sites that I have under my own personal account are small so I will not be able to test paged requests. Do we think this is a non issue for now and perhaps deal with it later if someone has large data sets??

[2015-02-24 11:06] bjarnef commented on #10
ahh okay.. had I bachelor thesis few months ago, where I returned 18K orders from uCommerce to see how AngularJS handle that.. but quickly learned that it needs to be broken into smaller chunks.

[2015-02-24 11:10] bjarnef commented on #10
@warrenbuckley but even it initially sorted by most views, pageviews usually is close related to visits/views - more pageviews usually also means more visits. So I think most pageviews will probably be in the top result too.

[2015-02-24 11:19] warrenbuckley commented on #10
OK seems like we may not need to deal with this for now and raise as a new issue on GitHub tracker if this becomes a problem with people with larger datasets.

[2015-02-24 11:22] abjerner commented on #10
This will probably only be an issue in "edge" cases, so it shouldn't be a problem saving it for later. I just wanted to point out that it *may* be an issue.

@warrenbuckley I think the default limit is 25.

[2015-02-24 21:44] warrenbuckley commented on #10
OK guys @bjarnef & @abjerner I am stumped this evening trying to implement angular-tablesort
https://github.com/mattiash/angular-tablesort

As it's a module I am unsure to inject this module to use it in this controller such as BrowserController.js any thoughts or am I being just plain dumb??

[2015-02-24 22:04] bjarnef commented on #10
@warrenbuckley I think there are some issues with injecting Angular modules into Umbraco. I have tried before with property editors and think I get some errors in the console. I am not sure if it is possible to inject a custom or third party Angular module into Umbraco at the moment.

I hope this soon will be possible: http://issues.umbraco.org/issue/U4-2769

[2015-02-24 22:35] bjarnef commented on #12
@warrenbuckley I have tried to restart App Pool by touching web.config, but it didn't seem to have any effect.. I am running the application through localhost directly from Visual Studio - not sure if it makes a difference?

When I click on the section node (root) I get a 200 Status OK for http://localhost:62315/umbraco/backoffice/UmbracoApi/Dashboard/GetDashboard?section=analytics ... however the

[2015-02-24 23:43] bjarnef commented on #12
@warrenbuckley I think it is correctly added to dashboard.config when installing the package. Not sure why it doesn't add it to dashboard.config when running the application from Visual Studio.

anyway, I just added the dashboard tree structure in dashboard.config manual and it then loads the dashboard. However when I browse from root node, select another node and back to root node, sometimes the

[2015-02-25 08:38] bjarnef commented on #10
@warrenbuckley can we add track by in the end of ng-repeat? that will optimize the performance - it just needs to use an unique key:
http://www.codelord.net/2014/04/15/improving-ng-repeat-performance-with-track-by/

there is a built in $id() function that can be used to assign an unique $$hashKey behind the scenes if there isn't a unique id in the properties: https://docs.angularjs.org/api/ng/dire

[2015-02-25 08:59] warrenbuckley commented on #10
@bjarnef I have figured a way around injecting the AngularJS module see latest commits for clues. I am currently trying to add this to all views with tables, then I need to do a cleanup of unused sorting code in controller afterwards.

Can we move the above suggestion to a new issue, as this issue/thread is getting rather large now.

[2015-02-25 10:00] bjarnef opened #19 "Add track by on ng-repeat to optimize performance"
Can we add track by in the end of ng-repeat? that will optimize the performance - it just needs to use an unique key:
http://www.codelord.net/2014/04/15/improving-ng-repeat-performance-with-track-by/

there is a built in $id() function that can be used to assign an unique $$hashKey behind the scenes if there isn't a unique id in the properties: https://docs.angularjs.org/api/ng/directive/ngRepeat

[2015-02-25 10:06] bjarnef commented on #10
@warrenbuckley I have created another issue for that suggestion.

I saw you changes about injecting a module and have seen that "trick" before, but didn't get it working at that time, when I shortly tried it. But great if it is working :)

You should can then remove the "old" sorting in the views, sort and iconSorting functions in the controllers, plus the default sorting inside the ajax request i

[2015-02-26 09:46] warrenbuckley commented on #12
@bjarnef I am going to close this issue as I believe it is fixed.
When you do testing later today or tomorrow let's open any new issues where needed.

[2015-02-26 09:46] #12 closed

[2015-02-26 09:55] warrenbuckley commented on #10
I have implemented the new module and removed the old code @bjarnef and will close this issue off

[2015-02-26 09:55] #10 closed

[2015-02-26 09:58] warrenbuckley commented on #8
@vnbaaij this will be resolved in the next minor release coming in the next few days and was to do with some obscure error with using the chartjs minified library with CDF. This has been looked into and resolved. Will leave this issue open until we release the next minor version with the fix.

[2015-02-26 09:59] warrenbuckley commented on #4
@bjarnef have we localized all the things? Or do we still need to work on other items, if so can we create a specific issue or issue/s so they don't get overlooked or forgotten.

[2015-02-26 10:10] #4 closed

[2015-02-26 10:24] bjarnef commented on #4
@warrenbuckley yes, almost.. the most important stuff for editor. One thing missing is the remote azure page mentioned here: https://github.com/warrenbuckley/Analytics/pull/18 .. it is this page: http://analytics-oauth.azurewebsites.net/callback/OAuth.aspx .. maybe we could send the locale/lang as a querystring.
Furthermore the datepickers are not localized yet - but I think we can use moment.js t

[2015-02-26 11:48] abjerner commented on #4
I have access to the repository for the OAuth site, so I can look into that tonight. Do we have any translations for that? I can probably dig something up for the Danish translations, but not much more...

[2015-02-26 14:25] bjarnef commented on #4
@abjerner that would be great. Maybe a locale/lang parameter can be added to the url, when the user click on the button that opens the new browser window. I think the localizationService in the controller have a key you can use.

I think we should just ship with Danish and English, then people can always do their own translations or send a PR for other languages. There are a few lines of text, but

[2015-02-26 21:29] abjerner commented on #4
I can't find a way in `localizationService` to see the culture, so I've used `UmbracoContext.Security.CurrentUser.Language` in C# instead. It only returns `da` instead of `da-DK`, which would be preferred.

Most texts in the login dialog are now translated to Danish (I skipped some of the error messages for now).

The authentication site has its own private repository (currently only Warren and I

[2015-02-26 23:13] bjarnef commented on #4
Okay, I thought about if the localizationService could send the locale as a parameter from this function in Settings.Controller.js

[code]

I looked a bit into the source code of Umbraco and found this: https://github.com/umbraco/Umbraco-CMS/blob/5b9a98ad6ae9e63322c26f7b162204e34f7fcb54/src/Umbraco.Web.UI.Client/src/views/common/dialogs/help.controller.js

So it seems you can use userService inste

[2015-02-27 06:57] bjarnef commented on #4
@abjerner you can probably get ```da-DK``` in C# by converting ```IUser.Language``` to ```CultureInfo``` https://twitter.com/Shazwazza/status/571104880623890432

https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/src/umbraco.businesslogic/ui.cs#L375

[2015-02-27 09:44] warrenbuckley commented on #19
I have closed this due to the pull request https://github.com/warrenbuckley/Analytics/pull/21

[2015-02-27 09:44] #19 closed

[2015-03-01 22:19] bjarnef commented on #4
@abjerner In the remote page with the login button and this text:

"For at Analytics til Umbraco kan hente informationer om dine Google Analytics konti og profiler, skal du logge ind med Google for, at vi kan tilgå dine data.

Gå ikke panik - vi gemmer ikke dine loginoplysninger. Dit login sker direkte på Google's hjemmeside. Analytics for Umbraco har kun læseadgang til dine statistikker."

Maybe

[2015-03-01 22:27] warrenbuckley opened #26 "Add logging to Install & Uninstall classes"
Add logging info to install & uninstall classes

[2015-03-02 18:47] bjarnef opened #27 "Package install Analytics_1.1.0-master in Umbraco 7.2.2"
Installed package Analytics_1.1.0-master.zip in Umbraco 7.2.2
Debug was set to false during install.

It seems to have added language keys for both English and Danish.
When clicking Authorize it open /App_Plugins/analytics/backoffice/OAuth.aspx in a new window (doesn't seem to include parameters? ) and returns the message "Sorry you do not have access."

![2015-03-02_19-44-18](https://cloud.github

[2015-03-02 19:35] abjerner commented on #27
Clicking "Authorize" will first open dialog with a local page. This page will initialize a few things for the authentication, and then redirect the user to the authentication site. It is when redirecting the user to this page the `lang` parameter is specified, so the language part should work fine. You just don't see it since you don't get that far :(

Regarding the "Sorry you do not have access."

[2015-03-02 21:18] bjarnef commented on #27
ahh okay :) ..
yes, seems that there might be a bug somewhere related to ```UmbracoEnsuredPage```

not sure if this have something to do with this issue in Analytics, but I noticed that the log contains this error from tonight:

[code]

[2015-03-02 22:24] abjerner commented on #27
I don't think the log entry is related to this issue.

The reason you're seeing the "Sorry you do not have access." message is because Warren changed something regarding `UmbracoEnsuredPage` in commit 94467e7, but it doesn't seems to fix the issue. I think we'll have to wait for Shannon to fix this for Umbraco 7.2.3.

[2015-03-03 07:31] bjarnef commented on #27
yes, have seeen some reports about ```UmbracoContext.Current.Security.CurrentUser``` returning null :/

[2015-03-03 07:34] bjarnef commented on #27
@abjerner did you see this comment https://github.com/warrenbuckley/Analytics/issues/4#issuecomment-76347977 if you want ```da-DK```instead of ```da```?

[2015-03-03 08:08] abjerner commented on #27
Parsing the string `da` will only give an instance of `CultureInfo` representing `da`, not `da-DK`. But for what we're using it for, it doesn't really matter whether it is `da` or `da-DK`.

[2015-03-03 08:51] bjarnef commented on #27
okay, will ```GetCultureFromUserLanguage("da")``` then just return ```da``` ? .. okay, but can you distinguish between ```en``` English (UK)  and ```en_us``` English (US) then? but probably quite similar.

[2015-03-03 09:07] abjerner commented on #27
Yes, `GetCultureFromUserLanguage("da")` will simply return `da` since it has no way of knowing the country.

`GetCultureFromUserLanguage("en")` will return `en`, while `GetCultureFromUserLanguage("en_us")` will return `en-US`, so we can distinguish between the two.

As the current implementation is now, if the user has selected `English (US)`, the `lang` parameter to the authenticate site will be

[2015-03-03 09:31] warrenbuckley commented on #27
Morning @abjerner & @bjarnef yes it was me who implemented an alternative whilst the 7.2.2 issue with UmbracoEnsuredPage for .aspx pages seems to be broken.

It's odd that the `UmbracoContext.Current.Security.CurrentUser` is null though I am pretty sure this worked for me. Does this fail for you both then?

[2015-03-03 09:32] abjerner commented on #27
Yup, didn't work for me in 7.2.2. I think that is why UmbracoEnsuredPage is failing as well.

[2015-03-03 09:34] warrenbuckley commented on #27
I wonder if it is because the page/URL is not inside the Umbraco backoffice section /umbraco/ maybe worth a quick test to see if we move this page into an Umbraco folder it will work? What do you think @abjerner ?

[2015-03-03 09:38] bjarnef commented on #27
@abjerner @warrenbuckley could you try to make a test with a copy of the .aspx page - just locally from the plugin folder?

[2015-03-03 09:42] warrenbuckley commented on #27
I dont have time this morning @bjarnef but if you get 5mins spare. Copy the .aspx page into say /umbraco/plugins and update the JS for opening the modal window to see if that works please.

@abjerner I implemented security for these pages due to the oAuth sensitive info but do you think there is a security risk/concern if anyone can visit this page/s without being logged into the Umbraco backoffic

[2015-03-03 10:05] abjerner commented on #27
Just tested this by creating an .aspx page in a fresh installation.

* Creating an .aspx page in `/App_Plugins/Whatever`, `UmbracoContext.Current.Security.CurrentUser` will be null.

* Creating an .aspx page in `/umbraco/Whatever`, `UmbracoContext.Current.Security.CurrentUser` is an instance of `Umbraco.Core.Models.Membership.User`.

So we can fix this by moving the .aspx files :D

If Warren doesn

[2015-03-03 10:14] warrenbuckley commented on #27
Ah exactly what I thought. The security is based on the route of the page. Where before I believe it was a mix of route & or presence of auth cookie I believe. @abjerner I would update the Umbraco issue tracker with this info, so Shannon & gang are aware.

[2015-03-03 10:15] abjerner commented on #27
I just did http://issues.umbraco.org/issue/U4-6342#comment=67-19384 ;)

I had tried creating the .aspx page in `/App_Plugins/Whatever/backoffice`, but that didn't seem to work either.

[2015-03-03 15:15] warrenbuckley commented on #27
@abjerner so is the thought to move this then to `/umbraco/plugins/analytics/` for the two .aspx pages for oAuth?

Just a shame we have to add custom files into the Umbraco folder for this to work, unless you do not think Umbraco auth is needed mate?

[2015-03-05 22:43] abjerner opened #28 "$digest errors for the settings controller"
I'm getting an error in the backoffice with the last code from the `develop` branch:

[code]

Which is around these lines:

[code]

Currently it seems to prevent me from authorizing when already authorizing. At least nothing happens, so I assume it is because the controller isn't fully initialized. Not sure whether this also results in other errors.

[2015-03-05 22:49] abjerner commented on #27
I have now implemented the fix as suggested by Shannon. This seems to work for me. How about you guys?

[2015-03-06 09:21] warrenbuckley commented on #27
Hi @abjerner I have not had a chance to test this yet. I may get some free time today to try it out and build out another test Umbraco package & NuGet to test with.

[2015-03-06 09:22] warrenbuckley commented on #28
OK maybe me or @bjarnef can take a look into why this is happening. But ultimately the error is quite descriptive and that an Angular Scope DIgest is already processing/updating values whilst this manual/forced way of telling the model to update with $apply seems to be happening whilst another update is going on.

[2015-03-06 09:39] bjarnef commented on #28
@warrenbuckley I think I have seen this error for a while.. or is it something new?

[2015-03-06 09:46] abjerner commented on #28
I think I first noticed it about a week ago, but it didn't seem to cause any errors at the time. Also I'm not sure these two errors are related - just wanted to post i here before I'd forget about it.

[2015-03-18 07:05] bjarnef opened #29 "Highlight the current tree"
I think it would be great to highlight the current tree node :)

https://our.umbraco.org/forum/developers/extending-umbraco/63267-Custom-section-mark-currentNode-blue?p=0#comment213103

[2015-03-18 08:19] warrenbuckley commented on #29
@bjarnef if you do a pull request for this. I can't remember what me you & @abjerner got stuck on, as I thought we was close to a release? Do you remember?

[2015-03-18 08:31] abjerner commented on #29
At least for my part, we had some problems with the WebForms dialog due to the authentication bug in 7.2.2. I was pretty sure I added some code to handle that, but can't find it in the list of commits. I will look into whether I just forgot to commit or whatever I have been doing.

Anyways, according to Our, 7.2.3 is out tomorrow, so we might as well wait to see that everything works for that rele

[2015-03-18 08:34] warrenbuckley commented on #29
Yes makes sense to @abjerner to do a release to check it works with 7.2.1, 7.2.2 & 7.2.3

[2015-03-18 09:51] abjerner commented on #29
Oh well. Just needed to look in the developer branch: https://github.com/warrenbuckley/Analytics/commit/9cbec98a2f172b2dbf49fc3e838d7ad287e1ee9e

[2015-03-18 10:10] bjarnef commented on #29
@warrenbuckley I can take a look at it tonight maybe or some of the next days..

as @abjerner mention there is the bug about UmbracoEnsuredPage in 7.2.2 .. so I think it will be great to wait for 7.2.3 to test in that version too and if the workaround https://github.com/warrenbuckley/Analytics/commit/9cbec98a2f172b2dbf49fc3e838d7ad287e1ee9e fix the issue for 7.2.2

then there is the **$digest** er

[2015-03-18 12:13] warrenbuckley commented on #29
OK so if we can get these couple of things sorted perhaps this week or next then we could have a release (btw on holiday next week, so you guys may need to release it)

[2015-03-19 21:54] abjerner opened #32 "The various lists get really long for large sites"
Since we updated the controllers to return the first 1000 items for each call, the various lists can now be quite long for larger sites.

I have a high traffic site, that over a given month somehow has been visited by more than 1000 different screen resolutions, so the page for **Screen resolutions** is roughly 1000 rows long. The site also has more than 1000 unique pages and more than 1000 source

[2015-06-15 13:39] tommyTanaka opened #38 "Analytics-Package disturbed my Crops"
Hi,
you can read it in this thread:

https://our.umbraco.org/forum/umbraco-7/using-umbraco-7//66490-crop-returns-empty-string

Somehow (I don't know why), my croppings did not work anymore. After deinstall the package, everything worked again.

Best regards -

Tom

[2015-06-25 10:33] bjarnef opened #39 "Use LocalizationService instead of ui.Text"
ui.Text is deprecated, so we should use LocalizationService.

https://twitter.com/Shazwazza/status/613986522631667712

[2015-07-13 11:41] warrenbuckley commented on #8
@vnbaaij Please can you test & verify this is fixed in version 1.2.0 so I can close this issue off.

[2015-07-13 11:43] warrenbuckley commented on #27
Will close this off guys as 1.2.0 is now out @bjarnef & @abjerner

[2015-07-13 11:43] #27 closed

[2015-07-13 11:44] #29 closed

[2015-07-13 11:45] warrenbuckley commented on #39
Thanks for highlighting this @bjarnef looks like I need to get onto this at some point then. Will it be backwards compatible do we know?

[2015-07-13 11:46] warrenbuckley commented on #38
Hi @tommyTanaka
Sorry to hear about this problem.

Do you mind re-installing version 1.2.0 that I released today to see if this is still a problem or not.

Many Thanks,
Warren

[2015-07-13 11:48] warrenbuckley commented on #32
OK just seen this @abjerner I need to figure out a best approach on how to do pagination client side unless @bjarnef you have any thoughts or ideas on this?

[2015-07-13 11:54] bjarnef commented on #39
@warrenbuckley I am not sure how it will be backwards compatible - if it doesn't handle that, I think we could check for the Umbraco version?

I guess Shannon knows :+1:

[2015-07-13 13:19] NikRimington opened #40 "Add ability to de-authorise an account"
Just a thought though, it could be worth having a "De-Authorise" button which clears the connection to Google. At the moment it's not clear how you would go about it, I'm guessing you just authorise against another account.

[2015-08-19 13:37] Shazwazza commented on #39
You can still use ui.Text... it is backward compatible, just deprecated. It actually calls into LocalizationService.Text

... It would be impossible to make something new backward compatible btw unless i had a time machine :)

[2015-08-19 13:55] bjarnef commented on #39
Okay, I was just wondering if LocalizationService.Text had fallback for earlier version of Umbraco 7, which just used ui.Text.

[2015-08-19 14:10] Shazwazza commented on #39
No, if you use new APIs that don't exist in previous versions it would never work. We cannot create 'fallback' APIs for ones that don't exist already :P

[2015-08-19 14:17] bjarnef commented on #39
So should we stick to ui.Text or check for the Umbraco version if switching to the new API?

[2015-08-19 14:30] Shazwazza commented on #39
You can either keep using ui.Text for now for your packages, or you can do some compat checks in your packages or you can release different versions of your packages for different umbraco versions, or you can make your package dependent on certain versions of Umbraco (i.e. Articulate will make you use the latest Umb version normally... that is the way that I am supporting that project). In v8, ui.

[2015-08-19 15:27] warrenbuckley commented on #39
@bjarnef let me know on what approach you want to adopt.

As obviously in current version we do a lot of work of merging of keys into lang files on app startup, but should I do a version check if newer than 7.3, use the lovely auto lang key merge in 7.3 thats now available & continue to use ui.Text??

Or do we make latest version breaking changes & dependant on latest version of Umbraco?

[2015-08-19 16:50] bjarnef commented on #39
@warrenbuckley I am thinking maybe do a check if newer than 7.3 .. and then maybe at the same time  do a check if it should use the new LocalizationService.Text, if lower than 7.3 use ui.Text?

Then maybe later for a major version of Analytics only support Umbraco 7.3+ ... or what do you think?

[2015-08-19 21:40] ZacP opened #43 "Multisite support?"
I was wondering if there's currently any development towards multi site support (similar to this question: https://our.umbraco.org/projects/backoffice-extensions/analytics/feedback-suggestions/49200-Multi-site-support-).

If not, are there any big architectural hurdles towards adding multi-site support?
We're looking at adding this for a client and would be glad to share our work.

[2015-08-20 09:20] warrenbuckley commented on #39
Not sure to be honest & little busy at the moment to do anything about it. So if you have an idea & want to implement it in a PR then go for it.

But until I can find/make some time for this I won't get a chance to look at it currently, so feel free to decide.

[2015-08-20 09:22] warrenbuckley commented on #43
Hello @ZacP It would need a fair bit of work to support multiple account.

I don't have the time at the moment to take on such a big change myself, however if you are happy to do the changes and submit it as a PR, I can review it and take it from there.

Cheers,
Warren :)

[2015-12-17 10:31] konius opened #44 "TypeError: settingsResource.getprofile is not a function"
Just found out that settingsResource controller conflicts with Merchello package leaving Analytics UI broken.

I've replaced all references in /App_plugins/Analytics to AnalyticsSettingsResource and it started working again

https://our.umbraco.org/projects/backoffice-extensions/analytics/help-issues/73755-typeerror-settingsresourcegetprofile-is-not-a-function#comment-236435

[2015-12-17 14:46] warrenbuckley commented on #44
Good spot @konius I will try to get round to do a minor/patch release to give names more unique key.

When I built this originally there was not many packages doing the newer Angular approach, but thanks for picking this up as giving it a semi-generic name has caused this. Have you reported this with Rusty on the Merchello GitHub repo too, so he can avoid name clashes too with any other future pac

[2016-02-04 13:39] konius commented on #28
I am getting the same error and can't use the Analytics with Umbraco 7.3.4. Anyone solved this?

[2016-02-15 16:15] SanderBlokzijl commented on #43
+1 :+1:

[2016-02-15 16:18] SanderBlokzijl opened #45 "Date(range)picker broken in Umbraco 7.4"
The datepicker (for picking a range) in all dataviews are broken at this moment.

[2016-03-02 16:54] hyrmedia commented on #45
I can confirm that this is true for me as well. Clicking the datepicker button does nothing.

When reloading the [Analytics > Views](https://mysite.local/umbraco/#/analytics/analyticsTree/view/views) page, Chrome records the following error in the console:

    angular.min.js?cdv=890644410:63 TypeError: Cannot read property '_weekdaysMin' of undefined
    at new DateRangePicker (http://umbraco-dev

[2016-04-15 14:35] KirschnerMatt opened #47 "Installed Package - Does not show up on tree"
Just tried to re-install this on Umbraco 7.4.3 and the link never showed up on my tree. I also checked my user account to see if I needed to enable it and I still couldn't find Analytics there.

What do I have to add to make this show up in the backoffice tree?

[2016-04-15 16:33] abjerner commented on #47
If you _Users_ section and select your user, do you see _Analytics_ in the list of checkboxes? It isn't checked by default, so you have to do that manually.

![image](https://cloud.githubusercontent.com/assets/3634580/14568097/b1645e64-0337-11e6-9e76-e38f83058513.png)

If you don't see the checkbox, have you tried rebuilding or restarting your site, and then reloading your browser window? How did

[2016-04-15 17:07] KirschnerMatt commented on #47
The issues I'm having are on my dev environment in localhost. I'm aware that the checkbox should show up in Users but I still don't have the option, even after clearing my cache and incrementing the version number in clientDependency.config.

It's worth noting that I used to have the package. In order to update, I uninstalled and then redownloaded/reinstalled the latest version.

Where is the scri

[2016-04-15 17:15] abjerner commented on #47
Okay. So when initially installing the package, it will add `<add key="AnalyticsStartupInstalled" value="True" />` to `appSettings` in your `Web.config`. Is this key present?

From what I can tell, this key isn't removed when uninstalling the package (at least not if you have installed via NuGet), so when you install it again, the package will think it has already been installed, and not add the p

[2016-04-15 18:42] KirschnerMatt commented on #47
Okay, removing the AnalyticsStartupInstalled key, then re-installing the package worked.

Thanks!

[2016-04-15 18:43] KirschnerMatt commented on #45
I'm getting the same error on 7.4.3

[2016-04-15 18:46] KirschnerMatt commented on #45
Why is the package trying to pull the daterangepicker js file from Umbraco Forms? I wonder if there's a conflict between Analytics and the Umbraco Forms package.

[2016-04-15 19:17] #47 closed

[2017-01-06 15:23] bjarnef opened #48 "Update Chart.js to latest version"
Can we update Chart.js to latest version `2.4.0`?
https://github.com/chartjs/Chart.js/releases

At the moment Analytics use version `1.0.1-beta.4`
https://github.com/warrenbuckley/Analytics/blob/688a9756ef1c6eafa166dc07db81b9c60f156ae4/Analytics/App_Plugins/Analytics/lib/chartjs/Chart.js#L4

[2017-01-06 15:32] warrenbuckley commented on #48
Any specific reason @bjarnef anything missing or needed or it fixes up? Either way feel free to do a PR mate :)

[2017-01-06 16:02] bjarnef commented on #48
@warrenbuckley it has some cool new features like Mixed chart types, New chart axis types and animations when there is change in dataset.
http://www.chartjs.org/

Furthermore the current version was a beta, so I guess the has been a lot of bugfixes 👍
https://github.com/chartjs/Chart.js/releases

[2017-01-08 17:47] bjarnef opened #49 "Update tablesort"
I also noticed that a newer version of tablesort is available, so we can update this as well. The latest version is version 1.4.0:
https://github.com/mattiash/angular-tablesort

[2017-01-08 17:49] bjarnef commented on #48
I need to adjust it a bit more for version `2.4.0`
@warrenbuckley maybe create a milestone for Analytics version 1.3.0?
![image](https://cloud.githubusercontent.com/assets/2919859/21752101/213ac89a-d5d3-11e6-88eb-045e8d605ebb.png)

[2017-01-10 16:35] warrenbuckley commented on #48
OK well free to do a PR then please. I unfortunately don't have as much time as I once used to :(

[2017-01-10 16:36] warrenbuckley commented on #49
Again what do we get from the update and feel free to do a PR, I don't have the time to maintain as much as I would like anymore :-S

[2017-01-14 13:28] jdcuster commented on #45
Has anyone found a fix to this they can share? If not, I'll start working on it as time permits.

[2017-01-14 21:08] jdcuster commented on #45
I found the fix for this issue. The issue is in the daterangepicker.js file:

[https://github.com/warrenbuckley/Analytics/blob/develop/Analytics/App_Plugins/Analytics/lib/daterangepicker/daterangepicker.js#L45]

Replace lines 45 and 46 with the following:

`
daysOfWeek: moment.weekdaysMin(),
monthNames: moment.monthsShort(),
`

I'll add this to a new PR shortly.

[2017-01-15 12:46] warrenbuckley commented on #45
I need to sit down tomorrow or tonight if (time allows) to test & verify this works as expected.
Moment JS, date formats & locales along with some similar conflicts I had with this datepicker in the Forms codebase & the version of MomentJS in Umbraco core.

So will need a few different checks before I pull in the PR @jdcuster

[2017-01-15 12:58] jdcuster commented on #45
Sounds good.  It was tested with 7.5.6. This was the first version I tried the package with but it seems datepicker hasn't been working correctly since 7.4 so I assumed the issue was the result of a moment.js update in the core.

Either way - let me know if I can help with anything.

[2017-01-27 10:47] edgarJakob commented on #45
I tried the fix but it did not work for me. Any news on this issue?

[2017-03-17 09:17] bjarnef commented on #28
Some suggestion although I haven't tested these:

http://stackoverflow.com/questions/14838184/error-digest-already-in-progress

[code]

or

[code]

or maybe `safeApply` in angularHelper: https://github.com/umbraco/Umbraco-CMS/blob/5397f2c53acbdeb0805e1fe39fda938f571d295a/src/Umbraco.Web.UI.Client/src/common/services/angularhelper.service.js#L40

Like this:
https://github.com/umbraco/Umbraco-CMS/bl

[2017-03-21 17:01] sindrisendiradid opened #51 "Getting TypeError: after installing on Umbraco version 7.5.9"
Hi,

I just installed on version 7.5.9 but i am getting this errors.

[code]

[2017-04-02 21:08] DonaldKerr opened #52 "What files to publish?"
Not an issue but, after successfully installing locally, what files and folders are required to be uploaded to the remote web server?

Thank you.

[2017-04-08 14:19] DonaldKerr commented on #52
Can anyone help?

[2017-04-11 08:02] warrenbuckley commented on #52
If you download the zip or nuget file you would be able to see the contents of files that get added to your project, alternatively if you use source control you would be able to see a difference in files.

One final thing is to use some kind of comparison tool like BeyondCompare.
Sorry I can't be of much more help as I can't remember the files/changes off the top of my head.

[2017-04-23 18:51] DonaldKerr commented on #52
Thanks and apologies for the late reply. I hadn't noticed it.

I use source control but it would appear that some of the files that have changed are not actually tracked. I will have a look at the zip and see if I can go through each file manually.

Thanks again.

[2017-07-07 18:13] jdcuster commented on #45
@edgarJakob - sorry just seeing this now - but did you do a cache flush to see if that worked?

[2017-07-08 07:28] edgarJakob commented on #45
Thanks Joel, its working now.

Cheers

Gesendet von meinem Windows 10 Phone

Von: Joel Custer<mailto:notifications@github.com>
Gesendet: Freitag, 7. Juli 2017 20:13
An: warrenbuckley/Analytics<mailto:Analytics@noreply.github.com>
Cc: Edgar Rasquin<mailto:edgar@rasquin.net>; Mention<mailto:mention@noreply.github.com>
Betreff: Re: [warrenbuckley/Analytics] Date(range)picker broken in Umbraco 7.4 (#4

[2017-08-21 10:49] jonnyflano commented on #45
Thanks guys. I had this date picker issue also but found I needed to install the "Diplo DateRange Picker (V1.2)" package also.

[2017-10-07 10:39] msinnott22 opened #53 "Not working with Umbraco 7.7.2"
I've recently upgrade one of my websites from 7.5 to the latest version (7.7.2) and the Analytics Package no longer works.

I've attached a screenshot depicting what I am seeing.

![image](https://user-images.githubusercontent.com/2410904/31307045-22ebadec-ab54-11e7-9dd2-fc5bf65fce47.png)

Thanks,
Mike

[2017-10-09 09:30] warrenbuckley commented on #53
All these labels are for translation and the language your backoffice user is set to does not have the translations set for that language @msinnott22

[2017-10-09 10:12] msinnott22 commented on #53
Hi @warrenbuckley,

Thanks for your prompt response.

My user is set to English (United Kingdom), I'm guessing this isn't mapping to the en.xml Lang file?

![image](https://user-images.githubusercontent.com/2410904/31333636-bfe52d1e-ace2-11e7-9c24-ff0647805f00.png)

Cheers,
Mike

[2017-10-09 10:29] warrenbuckley commented on #53
Odd, tried in English US to see if it comes back?

[2017-10-09 10:55] msinnott22 commented on #53
Yeah, tried in both and still get the same issue. I've checked and I do have the lang files on my server to.

Anything else I can try or logs to look into?

[2017-10-09 11:11] warrenbuckley commented on #53
Check you have files in `App_Plugins/Analytics/Config/lang` like so
https://github.com/warrenbuckley/Analytics/tree/develop/Analytics/App_Plugins/Analytics/config/lang

[2017-10-09 11:36] msinnott22 commented on #53
Yeah, I don't have all of them but I do have en & en_us:

![image](https://user-images.githubusercontent.com/2410904/31336370-7ba7b412-acee-11e7-85e0-d45f04201564.png)

[2017-10-09 11:41] warrenbuckley commented on #53
Odd!
Do they contain anything as it should be picking up values here.

Also have you changed the Client Dependency Framework version in Umbraco & ensure your browser is not caching anything?

[2017-10-09 12:02] msinnott22 commented on #53
Yeah, the files themselves look fine.

I've not changed the Client Dependency Framework but I will look into this. I've tried various browser and cleared everything, I get the same issue.

I'll comment again once I have tested.

[2017-10-11 19:49] msinnott22 commented on #53
Hi @warrenbuckley,
I tested the above and I'm still getting the issue. Would it be due to the lang files changing to en_gb.xml from en.xml?
Cheers,
Mike

[2017-11-23 10:32] alvarobartra opened #54 "Settings page fail in Umbraco versions 7.7.1 and 7.6.4"
We have tried to configure the plugin in Umbraco version 7.7.1 and 7.6.4 and the settings screen does not show the "Authorize" buttons, in both cases we show what is attached in the attached image. Additionally we have done the configuration test in version 7.6.3 and it works perfectly.
You have some idea that you may be failing in these versions.
The plugin is pretty good.
Thanks for the reply
![

[2017-12-23 16:07] purplepiranha commented on #53
I get the same issue running v7.7.7 and also the analytics icon does not appear in the menu. You may be interested to see the script error that I get:
![image](https://user-images.githubusercontent.com/15064668/34320932-544105b6-e7fb-11e7-8a25-fab31fd4b908.png)

[2018-01-31 10:21] amfh opened #55 "Umbraco Analytics not working with Umbraco 7"
Hi
Analytics section is missing in backoffice after installing Analytics on Umbraco 7.7.8 or 7.7.7. No errors on browser console or log files.
Is Analytics not compatible with latest version of Umbraco?

Br
Ali

[2018-01-31 10:51] abjerner commented on #55
@amfh If I remember correctly, you need to grant your user (or user group) access to the new *Analytics* section. It won't show up by default.

[2018-02-01 23:39] amfh commented on #55
You are right. Thank you ver much.

[2018-02-02 07:40] #55 closed

[2018-05-19 20:42] bindles1 opened #56 "TypeError: moment.defineLocale is not a function Umbraco 7.10"
TypeError: moment.defineLocale is not a function
Line 12: /umbraco/lib/moment/en-gb.js

var en_gb = moment.defineLocale('en-gb', {

This error stops any sort of calendar functionality from working. i.e. can't set future publish dates on pages.

[2018-05-30 08:16] MrCosmo commented on #56
I'm having the same issue

[2018-05-30 10:43] MartijnRasenberg commented on #56
See https://github.com/moment/momentjs.com/issues/171
The version of moment.js this plugin pushes is 2.4.0 (try console.log(moment.version)), support for moment.locale() is added @ 2.8.0.
Umbraco now uses 2.10.x, but the plugin version is loaded after the umbraco version and thus overrides it.
If you empty (clear all content) from \App_Plugins\Analytics\lib\momentjs\moment.js the version included

[2018-06-15 11:21] Emetico commented on #56
I got the same issue in Umbraco 7.10.4.

I removed '~/App_Plugins/Analytics/lib/momentjs/moment.js' , from App_Plugins/Analytics/package.manifest. And the plugin still seems to work as expected.

Still i think this issue should be fixed. Maybe load it via assetsService.loadJs() instead of putting it in the package manifest?

[2018-06-15 11:28] Emetico commented on #28
Hi Bjarnef.

[code]
Seems to fix it. I nolonger get the error.

[2018-07-04 12:50] robgha01 commented on #53
This is the same issue as https://github.com/warrenbuckley/Analytics/issues/28
when i reload it sometimes work and sometimes throws that error.

[2018-07-04 13:23] robgha01 commented on #45
@warrenbuckley Hey, i fixed and tested the issue heres the pull request: https://github.com/warrenbuckley/Analytics/pull/59

according to this https://github.com/mindblaze/foundation-daterangepicker/issues/3 thay changed it.

[2018-11-07 19:18] Lethygge opened #61 "Analytics app-plugin does not remove itsself completely when uninstalling from Installed packages - how can it be removed?"

[2019-10-14 16:06] youmnagebril opened #63 "Problem with Authorization"
Hello,

I get this when I click Authorize then Login With Google,

![image](https://user-images.githubusercontent.com/7532190/66766016-64d5d900-eead-11e9-8d12-dfc2e993bd77.png)

I can't figure out what am I doing wrong :(

[2019-10-22 17:58] abisohexacta commented on #63
Hello,

I am having the same issue as @youmnaHigagy after clicking the Authorize button on the Settings section. Is there any possibility of getting this fixed?

Thanks in advance.

[2019-11-22 12:49] EVandevska commented on #63
Hi, I am still getting this issue. Is there any change this will be solved soon?

[2019-11-28 12:58] darkogele commented on #63
I'm also having this issue . Its annoying so much :(  any chance we gonna get fix on this in near future ?

[2019-11-30 02:51] MayurDeore commented on #63
This error is caused when you have provided wrong redirect url. You need to register redirect url in Google API console, or check if registered redirect url is correct. Also note that when you register redirect url in console, it takes time to get activated.

[2019-12-02 09:11] EVandevska commented on #63
Unfortunately, the package owners are the ones who can do this. So we can only wait.

[2019-12-02 12:44] JimBobSquarePants commented on #63
Are you sure about this? I've never used the package but a cursory glance through the source indicates that the `RedirectUri` is configurable.

https://github.com/umbraco-community/umbraco-analytics/blob/1ea6ca3e832d8b28b98e5f3f199595b4ee440764/Analytics/AnalyticsConfig.cs#L59

Did anyone in the thread above actually log in with Google?

[2019-12-02 17:55] MayurDeore commented on #63
You are right, redirect URL can be configured from `settings.config`  available in `App_Plugins/Analytics` folder.
For this plugin redirect uri is `https://<umbraco_site_domain>/App_Plugins/analytics/backoffice/OAuthCallback.aspx`.

Here is the sample settings.config file.

[code]

[2019-12-04 10:23] EVandevska commented on #63
Thanks @JimBobSquarePants and @MayurDeore . We'll try this.

[2020-04-09 09:41] darrenferguson commented on #63
Hello - this does appear to be an issue with the package - which we are seeing too.

In the analytics back office dasboard - when you click to authorize the initial redirect is out to http://analytics-oauth.azurewebsites.net/callback/OAuth.aspx passing out the values from your configuration as mentioned by @JimBobSquarePants above.

it passes out clientstate (a guid) and Redirect Uri from your con

[2020-04-09 11:05] warrenbuckley commented on #63
Hello all,
I created this way way back in 2013 🙈

The Google API key may have expired that is used to help with the Google OAuth Flow. I know i had alot of help from @abjerner to help with the oAuth flow. I will have a poke around and see what I find.

[2020-04-09 11:22] darrenferguson commented on #63
Thanks @warrenbuckley

[2020-04-09 11:23] warrenbuckley commented on #63
OK luckily found the source code for this over on BitBucket & remembered my login credentials.
The Git repo is set to deploy magically to the Azure website and looking at the horrible code I wrote back then, I had hardcoded the client, secret & rediretURI in some lovely .aspx WebForms page 🤮

I have updated this and allowed it to be configurable from AppSettings so nice & easy to override from Azu

[2020-04-09 11:29] darrenferguson commented on #63
@warrenbuckley let me give it a shot! thanks.

[2020-04-09 11:49] warrenbuckley commented on #63
![Waiting](https://media.giphy.com/media/QBd2kLB5qDmysEXre9/giphy.gif)

[2020-04-09 11:56] darrenferguson commented on #63
@warrenbuckley sorry! paul has gone to lunch - he is going to give it a spin as soon as he is back.

[2020-04-09 12:51] prjseal commented on #63
I can confirm it works now. I tested version 1.2 of the package in a clean install of umbraco 7.5.8

There is no need to change any of the settings in the config files, it works straight out of the box now.

Thanks for fixing it @warrenbuckley

I've attached a screenshot for proof of it working at this point.
![image](https://user-images.githubusercontent.com/9142936/78896805-0eff7980-7a69-11ea-8a

[2020-04-09 13:00] warrenbuckley commented on #63
Thanks for the clarification. I didn’t have an install around setup for it.

[2020-04-09 13:00] #63 closed, assigned to nobody

[2020-04-09 13:33] prjseal commented on #63
If anyone wants to see how to authorize, I made a little video.

https://moriyamalondon-my.sharepoint.com/:v:/g/personal/paul_moriyama_co_uk/ERl3B0FsqSlPo37kvZymYWQBPcHrmgwXzoburhCwpaaGDg?e=x9SXgJ

[2021-10-15 14:50] #8 closed